.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cards section {
  flex: 1 1 500px;
  border: 1px solid #ccc;
  padding: 1rem;
}

.full-width {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-top: 1rem;
}

.cards iframe {
  width: 100%;
  height: 400px;
  border: 1px solid #eee;
}
